@import "mvp.scss";
@import "grid.scss";

body {
  height: 100vh;
  @include grid(grid, repeat(12, 1fr), 4.25rem auto auto);
  font-family: "Lato", sans-serif;
  @include marginPadding(0, 0);
  background: #f3eeee;
  color: #0c0c11;
}

header {
  background: #fcffff;
  border-bottom: 0.125rem solid #15a35a;
  @extend %flexPadrao;

  > a {
    color: #15a35a;
    font-weight: bolder;
  }

  h1 {
    margin: 0;
  }

  nav a {
    margin: 0 1.25rem;
    font-weight: bolder;
    color: #0c0c11;
  }
}

main {
  @extend %flexPadrao;
}

.sobre,
.recentes {
  margin: 16px 0;
}

.sobre {
  @extend %flexPadrao;
  @include tamanho(18.75rem, 100%);
  background: #fcffff;
  border: solid 0.0625rem #e0dede;
  border-radius: 0.25rem;

  .sobre-description {
    @include flex(center, column, space-evenly);

    h1,
    p {
      width: 90%;
      text-align: justify;
      margin: 8px 0;
    }
  }

  .img-sobre {
    @include flex(center, column, space-evenly);

    img {
      @include tamanho(18.75rem, 100%);
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }

  .sobre-description,
  .img-sobre {
    width: 50%;
  }

  @media (max-width: 1024px) {
    @include flex(center, column, space-between);
    height: auto;

    .sobre-description,
    .img-sobre {
      width: 100%;
    }
  }
}

.recentes {
  width: 100%;
  @include flex(center, row, space-evenly);

  .titulo {
    width: 100%;
    @include flex(center, row, flex-start);

    img {
      margin-right: 0.5rem;
      @include tamanho(1rem, 1rem);
    }

    h2 {
      text-decoration: underline;
      margin: 0.5rem;

      @media (max-width: 450px) {
        font-size: 1rem;
      }
    }
    @media (max-width: 1024px) {
      @include flex(center, row, center);
      h2 {
        font-size: 24px;
      }
    }
    @media (max-width: 500px) {
      @include flex(center, row, center);
      h2 {
        font-size: 16px;
      }
    }
  }
}

.recente {
  border: solid 0.0625rem #e0dede;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  width: 25rem;
  @extend %flexPadrao;
  background: #fcffff;

  @media (max-width: 960px) {
    width: 100%;
  }

  a,
  img {
    width: 100%;
  }

  .local {
    width: 100%;
    @include flex(center, row, space-between);
    background: #555454;
    color: #ddd;
    font-weight: bold;

    @media (max-width: 500px) {
      @include flex(center, column, space-between);
    }

    .local-descricao {
      @extend %flexPadrao;

      img {
        margin-right: 0.5rem;
        @include tamanho(1rem, 1rem);
      }
    }

    .data {
      @include flex(flex-end, column, center);

      @media (max-width: 500px) {
        padding-bottom: 0.5rem;
        width: 100%;
        @include flex(center, row, space-between);
      }

      p {
        font-size: 0.75rem;
        margin: 4px 0;
      }

      .data-data,
      .data-horario {
        @include flex(flex-end, row, center);
        margin: 0.125rem 0;

        p {
          margin: 0;
        }

        img {
          margin-right: 0.5rem;
          @include tamanho(1rem, 1rem);
        }
      }
    }
  }

  .categoria {
    width: 100%;
    @include flex(center, row, space-between);

    p,
    a {
      margin: 0.5rem 0;
      font-weight: bold;
    }

    .icone-tipo {
      width: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        margin-right: 0.5rem;
        @include tamanho(1.25rem, 1.25rem);
      }
    }

    a {
      color: #15a35a;
    }
  }

  .categoria,
  .local,
  .description {
    padding: 0 1rem;
  }

  .description {
    text-align: justify;
    font-size: 0.75rem;

    p {
      margin: 0.5rem 0;
    }
  }

  @media (max-width: 1024px) {
    width: 100%;
  }
}

footer {
  a,
  h1 {
    color: #15a35a;
  }
  width: 100%;
  @extend %flexPadrao;
  background: #555454;
  .logo,
  .redes-sociais {
    @extend %flexPadrao;
    width: 50%;
    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  .redes-sociais {
    @extend %flexPadrao;
    @media (max-width: 500px) {
      @include flex(center, column, center);
    }
    img {
      @include tamanho(1rem, 1rem);
    }
    .social {
      @include flex(center, column, center);
      padding: 8px 0;
      img{
        margin-bottom: 18px;
      }
      @media (max-width: 500px) {
        width: 100%;
        @include flex(center, row, center);
        img{
        margin-bottom: 0px;
          margin-right: 18px;
        }
      }
    }
  }
}
