@mixin flex($alignItems: center, $flexDirection: row, $justifyContent: space-around) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}

%flexPadrao {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

@mixin grid($display, $colunas, $linhas) {
  display: $display;
  grid-template-columns: $colunas;
  grid-template-rows: $linhas;
}

@mixin tamanho($height, $width) {
  width: $width;
  height: $height;
}

@mixin marginPadding($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

body {
  height: 100vh;
  @include grid(grid, repeat(12, 1fr), 68px auto 68px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  grid-column: 1/13;
  grid-row: 1/2;
  background: #555454;
  @extend %flexPadrao;

  a {
    color: #ddd;
  }
  h1 {
    margin: 0;
  }

  nav a {
    margin: 0 20px;
  }
}

main {
  grid-column: 2/12;
  grid-row: 2/3;
  @extend %flexPadrao;
}

.sobre {
  @include flex(center, row, space-around);
  width: 100%;

  .sobre-description,
  .img-sobre {
    width: 50%;
  }

  .sobre-description {
    @include flex(center, column, space-evenly);

    h1,
    p {
      width: 90%;
      text-align: justify;
    }
  }

  .img-sobre {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }
  }
}

.recentes {
  width: 100%;
  @include flex(center, row, space-between);
  .titulo {
    width: 100%;

    h3 {
      text-decoration: underline;
      margin: 8px;
    }
  }
}

.recente {
  border: solid 1px #adacac;
  border-radius: 4px;
  margin: 8px 0;
  width: 400px;
  @extend %flexPadrao;

  .local {
    width: 100%;
    @include flex(center, row, space-between);
    background: #555454;
    color: #ddd;
    img {
      width: 100%;
    }
    .local-descricao {
      @extend %flexPadrao;
      i {
        margin-right: 8px;
      }
    }
    .data {
      @include flex(flex-end, column, center);

      p {
        font-size: 12px;
        margin: 4px 0;
      }
    }
  }

  .categoria {
    width: 100%;
    @include flex(center, row, space-between);

    p,
    a {
      margin: 8px 0;
    }
    a {
      color: #15a35a;
      font-weight: bold;
    }
  }

  .categoria,
  .local,
  .description {
    padding: 0 16px;
  }

  .description {
    text-align: justify;
    font-size: 12px;

    p {
      margin: 8px 0;
    }
  }
}

footer {
  width: 100%;
  height: 80px;
  grid-column: 1/13;
  grid-row: 3/4;
  @extend %flexPadrao;
  border-top: #555454 2px solid;
  .logo,
  .contato {
    @extend %flexPadrao;
    width: 50%;
  }

  .redes-sociais {
    @include flex(center, column, space-between);
    a {
      color: #15a35a;
    }
    .social{
    width: 100px;
      margin: 8px 0;
    i{
      margin-right: 8px;
    }
    }
  }
}

a {
  text-decoration: none;
}

body {
  @include marginPadding(0, 0);
}

button {
  border: none;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

input {
  text-align: center;
  outline: none;
  border: none;
  padding: 0.3rem;
}

select {
  text-align: center;
  border: none;
  padding: 0.3rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
